/* Google Font Ubuntu */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

/* Global CSS */
* {
	margin: 0;
	padding: 0;
}
body {
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	font-family: 'Ubuntu', sans-serif;
}
a {
	color: #fff;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}
a:hover {
	color: #D5882C;
}

/* Theme Main CSS File */
.main.body {
	position: relative;
}
.login-form {
	margin: 0 auto;
	padding: 30px;
	width: 300px;
	background: #000;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.6;
	box-shadow: 10px 10px 17px #9B6120;
}
.login-form img {
	display: block;
    margin: -110px 100px;
    position: absolute;
    height: 110px;
    opacity: 0.8;
}
.login-form img:hover {
	transform: translate(2);
}
.login-form h1 {
	width: 100%;
	margin: 25px 7px 10px;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
}
.login-form label {
	display: block;
    padding: 10px 5px 7px;
    border: none;
    border-radius: 15px;
    color: #fff;
}
.login-form input {
	display: block;
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 95%;
}
.submit-button {
    margin: 30px 10px 20px;
    font-weight: 700;
    font-size: 17px;
    background: #D5882C;
    color: white;
    transition: 0.4s ease-in-out;
    margin-left: 10px;
    padding: 7px !important;
}
.submit-button:hover {
	background: #fff;
	color: #000
}
#check-box {
	width: auto;
    display: inline;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.login-form span {
	display: block;
    padding: 7px;
    border: none;
    border-radius: 15px;
    margin: 0 auto;
}